project-example-mgatti03/
Exercises/.DS_Store
Lectures/.DS_Store
Exercises/Week 1/SimLex-999
Exercises/Week 1/IMDB Dataset.csv
Exercises/Week 3/wmt14_fr_en
Exercises/Week 5/snli-hyp-distilbert
*.DS_Store
*.ipynb_checkpoints
*__pycache__